<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route frontName="kuliievych_pricerequest" id="kuliievych_pricerequest">
            <module before="Magento_Backend" name="Kuliievych_PriceRequest"/>
        </route>
    </router>
</config>
